$mreaves: 'mr-eaves-modern', Arial, Helvetica, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$teal: #49b1b6;
$pink: #d5696f;
$green: #9bb72c;
$purple: #60369c;
$ltpurple: #647896;
$bluealpha: rgba(89,111,143,.85);
$blue: #3c5f90;
$ltblue: #596f8f;
$white: #FFFFFF;
$black: #000000;
$gray: #dcdcdc;

$break1600: "only screen and (max-width: 100em)";
$break1200: "only screen and (max-width: 75em)";
$break1024: "only screen and (max-width: 64em)";
$break1024to640: "only screen and (max-width: 64em) and (min-width: 40em)";
$break972: "only screen and (max-width: 60.75em)";
$break951: "only screen and (max-width: 59.4375em)";
$break951to601: "only screen and (max-width: 59.4375em) and (min-width: 37.5625em)";
$break800: "only screen and (max-width: 50em)";
$break767: "only screen and (max-width: 47.9375em)";
$break640: "only screen and (max-width: 40em)";
$break639: "only screen and (max-width: 39.9375em)";
$break600: "only screen and (max-width: 37.5em)";
$break480: "only screen and (max-width: 30em)";
$break375: "only screen and (max-width: 23.4375em)";

@mixin transition($attr) {
  -webkit-transition: $attr .2s ease-out;
     -moz-transition: $attr .2s ease-out;
      -ms-transition: $attr .2s ease-out;
          transition: $attr .2s ease-out;
}

/**** TABLE OF CONTENTS ****

0. PRELOADER STYLES

1. GENERAL STYLES

2. HEADER STYLES
  2a. Top Bar and Main Nav Styles
  2b. Social Media Styles
  2c. Shrink Logo Styles

3. HOME PAGE STYLES

4. INTERNAL PAGE STYLES
  4a. Title Bar Styles
  4b. Gravity Forms Styles
  4c. Social Sharing Styles

5. PORTFOLIO STYLES

6. FOOTER STYLES

7. MOBILE STYLES (when WP detects a mobile device a class of 'mobile' is added to the body tag and we use this to style accordingly)

8. IE ONLY STYLES

00. No JavaScript Styles

** END TABLE OF CONTENTS **/


/**** 0. PRELOADER STYLES ****/
#preloader img {
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-bar #preloader img {
  margin-top: 16px;
}
@media only screen and (max-width: 782px) {
  .admin-bar #preloader img {
    margin-top: 23px;
  }
}
@media only screen and (max-width: 630px) {
  #preloader img {
    padding: 40px;
  }
}


/**** 1. GENERAL STYLES ****/
a {
  color: $black;
  font-weight: 700;
  font-family: $arial;
}
a:hover, a:focus {
  color: $black;
}
p {
  font-weight: 300;
  font-family: $arial;
}
h1 {
  font-family: $mreaves;
  text-transform: uppercase;
  font-weight: 700;
  color: $green;
  line-height: 1.1;
}
h2, h3, h4, h5, h6 {
  font-family: $mreaves;
  text-transform: uppercase;
  font-weight: 700;
  color: $blue;
  line-height: 1.1;
}
h2 span.sub-title {
  display: block;
  font-size: 65%;
  margin: 10px 0;
}
h2 {
  font-size: 3.5rem !important;
  line-height: 1.1 !important;
}
h3 {
  font-size: 1.75rem !important;
  line-height: 1.1 !important;
}
h4 {
  font-size: 1.5rem !important;
  line-height: 1.1 !important;
}
h5 {
  font-size: 1.125rem !important;
  line-height: 1.1 !important;
}
h6 {
  font-size: 1rem !important;
  line-height: 1.1 !important;
}
.off-canvas-content #masthead, .off-canvas-content section.container, .off-canvas-content #footer-container {
  // max-width: 1600px;
  margin: 0 auto;
  // padding: 0 15px;
}
.subtle-image-border img,
img.subtle-image-border {
  border: 1px solid $gray !important;
}
.hide-for-now {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  speak: none;
  left: -9999px;
}
.the-tags {
  display: inline-block;
  width: 100%;
  margin: 40px 0;
  text-align: left;

  a {
    display: inline-block;
    margin-bottom: 5px;
  }

}
body.modal-active {
  overflow: hidden;
}
.bs-btn, .bs-btn a {
  font-size: 1.25rem;
  font-weight: 700 !important;
  font-family: $mreaves;
  line-height: 1;
  display: inline-block;
  padding: 3px 12px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  @include transition(all);
}
.bs-btn-large, .bs-btn-large a {
  font-size: 1.875rem;
  padding: 8px 20px;
}
.bs-btn.bs-btn-white {
  background: $white;
  border: 2px solid $white;
  color: $green !important;
}
.bs-btn.bs-btn-white a {
  color: $green !important;
}
.bs-btn.bs-btn-white:hover,
.bs-btn.bs-btn-white:focus {
  background: $blue;
  border: 2px solid $blue;
  color: $white !important;
}
.bs-btn.bs-btn-white:hover a,
.bs-btn.bs-btn-white:focus a,
.bs-btn.bs-btn-white a:hover,
.bs-btn.bs-btn-white a:focus {
  color: $white !important;
}
.bs-btn.bs-btn-clear {
  background: $white;
  border: 2px solid $black;
}
.bs-btn.bs-btn-clear:hover,
.bs-btn.bs-btn-clear:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-black {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-black:hover,
.bs-btn.bs-btn-black:focus {
  background: $white;
  border: 2px solid $black;
  color: $black;
}
.bs-btn.bs-btn-green {
  background: $green;
  border: 2px solid $green;
  color: $white !important;
}
.bs-btn.bs-btn-green a {
  color: $white !important;
}
.bs-btn.bs-btn-green:hover,
.bs-btn.bs-btn-green:focus {
  background: $white;
  border: 2px solid $green;
  color: $green !important;
}
.bs-btn.bs-btn-green:hover a,
.bs-btn.bs-btn-green:focus a,
.bs-btn.bs-btn-green a:hover,
.bs-btn.bs-btn-green a:focus {
  color: $green !important;
}
.bs-btn:hover,
.bs-btn:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btns-wrapper {
  text-align: left;
  width: 100%;

  .bs-btn {
    display: inline-block;
    margin: 0 10px 10px 0 ;
  }

}
.bs-isotope-wrapper {
  max-width: 1600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.bs-isotope-item {

  img.lazyload,
  img.lazyloading {
    opacity: 0;
    min-height: 100px;
    @include transition(opacity);
  }
  img.lazyloaded {
    opacity: 1;
    @include transition(opacity);
  }

}
.max-width-eleven-seventy {
  max-width: 1170px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-twelve-hundred {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-sixteen-hundred {
  max-width: 1600px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-twelve-hundred .vc_column_container>.vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.entry-content {
  overflow: hidden;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 1rem;
  }
  ul.row {
    margin-left: 1.25rem;
  }
  ul.row li.columns {
    padding-left: 0;
  }
  ul.row .column:last-child:not(:first-child),
  ul.row .columns:last-child:not(:first-child),
  ol.row .column:last-child:not(:first-child),
  ol.row .columns:last-child:not(:first-child) {
    float: left;
  }

}
.section-title {
  margin-top: -55px;

  img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .wpb_single_image {
    margin: 0 0 -125px 0;
    position: relative;
    z-index: 99
  }
  .vc_column-inner {
    padding: 0 !important;
  }
}
ul.social-media-wrapper.left {
  text-align: left;
}
ul.social-media-wrapper.right {
  text-align: right;
}
ul.social-media-wrapper.center {
  text-align: center;
}
ul.social-media-wrapper.brown li a {
  color: #38322f;
}
ul.social-media-wrapper.white li a {
  color: $white;
}
ul.social-media-wrapper li a {
  line-height: 30px !important;
}
.readable-line-length {
  max-width: 800px;
  margin: 0 auto;
}
.text-align-center, .text-align-center * {
  text-align: center;
}
.readable-line-length.text-align-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}
.cta-text.has-background-image {
  background: rgba(27,27,27,.65);
  padding: 20px;
}
.cta-text.has-background-image p {
  font-size: 1.5rem;
  color: $white;
}
.cta-text p {
  font-size: 1.5rem;
  color: $black;
}
.cta-text * {
  $blackily: 'museo-sans';
  line-height: 1.4;
}
#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
}
#back-top a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $blue;
  border: 1px solid $ltblue;
  opacity: .85;
  color: $white;
  display: inline-block;
  @include transition(all);
}
#back-top a:hover,
#back-top a:focus {
  opacity: 1;
  background: $black;
}
.fourohfour-recent-posts ul {
  margin: 0;
  list-style: none;
}
.fourohfour-recent-posts ul li {
  line-height: 1.2;
  margin-bottom: 1rem;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@media #{$break600} {
  .bs-isotope-item {
  	width: 100% !important;
  	height: auto !important;
	}
  .bs-btns-wrapper .bs-btn {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}


/**** 2. HEADER STYLES ****/
header#masthead {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding-top: 20px !important;
  background-color: rgba(18,18,18,0);
  transition: all 500ms ease-out;

  .logo-wrapper {
    padding-left: 0 !important;
    width: calc(100% - 300px) !important;
    display: table-cell;
  }
  .logo-wrapper img {
    max-width: 476px;
    width: 100%;
    height: auto;
  }

}
header#masthead.sticky-header {
  position: fixed;
}
.title-bar-title {
  width: calc(100% - 40px);
  text-align: left;

  a.custom-logo-link img {
    width: auto;
    height: 80px !important;
  }
}

@media #{$break972} {
  // header#masthead {
  //   display: block;
  //
  //   .logo-wrapper {
  //     width: 100%;
  //     display: block;
  //   }
  //   .logo-wrapper img {
  //     display: block;
  //     margin: 0 auto;
  //   }
  //   .main-navigation {
  //     width: 100%;
  //     display: block;
  //   }
  //
  // }

}

/* 2a. Top Bar and Main Nav Styles */
.header-inner {

  .top-bar-top {
    display: table;
    width: 100%;
    padding: 0 15px;
  }
  .top-bar-right {
    float: none;
    display: table-cell;
    width: 300px !important;
    text-align: right;

    ul#menu-secondary-nav {
      width: auto;
      display: inline-block;
      vertical-align: bottom;
    }
    ul#menu-secondary-nav li a {
      padding: 40px 20px 0 0;
      font-family: $mreaves;
      font-size: 1rem;
      line-height: 30px;
      @include transition(all);
    }
    ul#menu-secondary-nav li:last-child a {
      padding: 40px 10px 0 0;
    }
    ul#menu-secondary-nav .active > a {
      background: none;
      color: #000
    }
    li.my-highlands a {
      position: relative;
    }
    li.my-highlands a:after {
      content: '';
      background: url(http://127.0.0.1/highlands/wp-content/uploads/2016/09/cropped-favicon.png) no-repeat 0 0;
      background-size: 100%;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -25px;
      z-index: 99;
    }
    ul#menu-secondary-nav li a:hover,
    ul#menu-secondary-nav li a:focus {
      color: $blue;
    }
    .top-bar-search {
      position: relative;
      width: 20px;
      height: 30px;
      display: inline-block;
      vertical-align: bottom;
    }
    .top-bar-search .searchform-wrapper {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 60px;
      right: -10px;
      width: 250px;
      background: $teal;
      padding: 15px;
      border-radius: 4px;
      z-index: 10;
      @include transition(all);
    }
    .top-bar-search .searchform-wrapper.show {
      opacity: 1;
      visibility: visible;
      top: 40px;
    }
    .top-bar-search .searchform-wrapper:after {
      bottom: 100%;
      right: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(60, 95, 144, 0);
      border-bottom-color: $teal;
      border-width: 10px;
      margin-left: -10px;
    }
    .top-bar-search .searchform-wrapper .input-group {
      margin-bottom: 0;
    }
    .top-bar-search .searchform-wrapper input[type="text"] {
      padding: 0 10px;
      height: 32px;
      border: 0;
      line-height: 32px;
      font-size: 1.25rem;
      font-family: $mreaves;
    }
    .top-bar-search .searchform-wrapper input[type="text"]::-webkit-input-placeholder {
      font-size: 1rem;
      font-family: $mreaves;
    }
    .top-bar-search .searchform-wrapper .button {
      background: $purple;
      font-family: $mreaves;
      font-weight: 700;
      font-size: 1.125rem;
      padding: 0 10px;
      line-height: 32px;
      border: 0;
    }
    .top-bar-social {
      width: auto;
      display: inline-block;
      vertical-align: bottom;
    }
    .top-bar-search button.searchform-trigger {
      width: 20px;
      height: 30px;
      text-align: center;
      line-height: 30px;
    }
    .top-bar-search button.searchform-trigger i {
      font-size: 18px;
      line-height: 30px;
      margin-top: -1px;
      display: block;
    }
    ul.social-media-wrapper {
      list-style: none;
      text-align: right;
      margin: 0 5px 0 0;

      li {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        position: relative;
        z-index: 99;
        font-size: 1.25rem;
      }
      li:not(.custom-button):after {
        width: 30px;
        height: 30px;
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        border-radius: 15px;
        opacity: 0;
        transform: scale(0);
        transition: all 250ms ease-out;
      }
      li.custom-button {
        width: auto;
      }
      li.facebook:after {
        background: #3b5998;
      }
      li.twitter:after {
        background: #55acee;
      }
      li:hover:after {
        transform: scale(1);
        opacity: 1;
      }
      li a {
        display: block;
      }
      li.facebook a,
      li.twitter a {
        color: $black;
      }
      li.facebook a:hover,
      li.twitter a:hover,
      li.facebook a:focus,
      li.twitter a:focus {
        color: $white;
      }
    }
    .goog-te-gadget-simple {
      padding: 4px;
      border-radius: 5px;
      border: 1px solid #000;
      margin-top: 10px;
    }
    .goog-te-gadget-simple > span > a > span {
      font-size: 14px !important;
    }

  }

}
.translated-ltr .header-inner,
.translated-rtl .header-inner {

  .top-bar-right {
    width: 315px !important;
  }

}
.top-bar {
// display: table;
// width: 100%;
max-width: 100rem;
margin: 0 auto;
background: none;
padding-top: 20px !important;

  ul {
    background: none;
  }

  .top-bar-bottom {

    > .menu {
      display: flex;
      justify-content: space-between;
    }
    .menu {
      text-align: left;
    }
    .menu > li {
      float: none;
      display: inline-block;
    }
    .menu > li > a {
      height: 60px;
      padding: 0 10px !important;
      font: 700 1.25rem/60px "mr-eaves-modern", Helvetica, Arial, sans-serif;
      box-sizing: content-box !important;
      color: $black;
      text-transform: uppercase;
      @include transition(all);
    }
    .menu > li.menu-item-has-children > a {
      position: relative;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .menu > li.menu-item-has-children > a:before {
      content: '\f0d7';
      font-family: fontawesome;
      position: absolute;
      top: 0;
      right: -2px;
      text-align: left;
      display: none;
      width: 20px;
      height: 60px;
      line-height: 60px;
      color: $black;
      font-size: 14px;
    }
    .menu > li.is-active > a,
    > .menu > li.active > a {
      background: $green !important;
      color: $white !important;
    }
    .menu > li.is-active > a:before {
      color: $white;
    }
    .menu > li:not(:last-child) {
      border-right: 0;
    }
    .menu a:hover:not(.button) {
      background: none;
    }
    .menu .active > a {
      background: none;
      color: $white;
    }
    .menu > li {
      position: relative;
    }
    .menu > li:after {
      content: '';
    }
    .menu .dropdown {
      min-width: 160px;
      display: block;
      visibility: hidden;
      opacity: 0;
      margin-top: 20px;
      margin-right: -10px;
      z-index: -1;
      background: $bluealpha !important;
      border-top: 2px solid $blue;
      @include transition(all);
    }
    .menu .dropdown li a {
      color: $white;
      height: auto;
      line-height: 1;
      padding: 10px 0 !important;
      font-size: 1.015rem;
      font-weight: 700;
      padding: 10px !important;
      display: block;
      position: relative;
      @include transition(all);
    }
    .menu .dropdown li.menu-item-has-children > a:before {
      color: $white;
      height: 36px;
      line-height: 36px;
      display: block;
    }
    .menu .dropdown li {
      -webkit-transition: background 250ms ease-out;
    }
    .menu .dropdown li:hover a,
    .menu .dropdown li:focus a,
    .menu .dropdown li.active > a {
      color: $white !important;
      background: $black;
    }
    .menu .dropdown li a:hover:after {
      content: '';
    }
    .menu .dropdown li:after {
      display: none;
    }
    .menu > li.is-active .dropdown {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
      z-index: 1;
    }
    .menu > li.opens-left > .is-dropdown-submenu {
      left: 10px;
      top: 100%;
    }
    .menu > li.is-dropdown-submenu-parent > a::after {
      display: none;
    }
    .dropdown.menu.vertical > li.opens-right > .is-dropdown-submenu {
      position: relative;
      width: 100%;
      left: 0;
      margin-top: 0;
      border-bottom: 2px solid $blue;
    }
    .menu > li.is-active .dropdown .dropdown {
      opacity: 0 !important;
      height: 0 !important;
      z-index: -1;
    }
    .menu > li.is-active .dropdown > li.is-active > a {
      background: $black !important;
    }
    .menu > li.is-active .dropdown > li.is-active .dropdown {
      opacity: 1 !important;
      height: auto !important;
      z-index: 10;
    }
    .menu > li .dropdown .dropdown li a {
      padding-left: 20px !important;
    }
    .top-bar .top-bar-bottom .menu > li:last-child > ul.dropdown {
      left: auto !important;
      right: 0 !important;
      margin-right: 0 !important;
    }

  }

}

@media #{$break1200} {
  .top-bar .top-bar-bottom .menu > li:last-child > ul.dropdown {
    left: auto;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1120px) {
  .top-bar .top-bar-bottom > .menu {
    justify-content: flex-start;
  }
  .top-bar .top-bar-bottom .menu > li.menu-item-has-children > a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    letter-spacing: -.04rem;
  }
  .top-bar .top-bar-bottom .menu > li > a {
    font: 700 1.2rem/60px "mr-eaves-modern", Helvetica, Arial, sans-serif;
  }
}

@media #{$break1024} {
  .top-bar-top {
    margin-bottom: 20px;
  }
  .top-bar .top-bar-bottom .menu > li > a {
    height: 40px;
    font: 700 1.125rem/20px "mr-eaves-modern", Helvetica, Arial, sans-serif;
    vertical-align: middle;
  }
}

@media #{$break972} {
  .top-bar-right {
    width: 100% !important;

    ul.social-media-wrapper {
      text-align: center;
      margin: 0;
    }

  }
  .top-bar .top-bar-bottom {
    width: 100%;

    ul#menu-main-navigation {
      text-align: center;
    }

  }
}
@media only screen and (max-width: 767px) and (min-width: 640px) {
  header#masthead .top-bar-top .logo-wrapper {
    width: 100% !important;
    display: block;
  }
  header#masthead .top-bar-top .logo-wrapper img {
    display: block;
    margin: 0 auto;
  }
  header#masthead .header-inner .top-bar-right {
    width: 100% !important;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 680px) {
  .top-bar .top-bar-bottom .menu > li > a {
    font: 700 1.105rem/20px "mr-eaves-modern", Helvetica, Arial, sans-serif;
  }
}
@media #{$break639} {
  .title-bar-title a.custom-logo-link img {
    display: block;
    max-width: 240px !important;
    height: auto !important;
  }
  .header-inner .top-bar-top {
    margin: 0;
    padding: 0;
  }
  header#masthead .header-inner .top-bar-right {
    width: 100% !important;
    display: block;
  }
  .header-inner .top-bar-right .goog-te-gadget-simple {
    margin-top: 0;
    margin-right: 15px;
  }
  .menu-icon {
    width: 24px;
  }
  .off-canvas-wrapper-inner {
    will-change: transform;
  }
  .off-canvas > ul.menu {
    height: auto;
  }
  .header-inner .top-bar-right ul#menu-secondary-nav,
  .top-bar-social,
  .top-bar-search {
    display: none !important;
  }
  .top-bar .top-bar-bottom .menu > li > a {

  }
  .top-bar .top-bar-bottom .menu > li.menu-item-has-children > a:before {

  }
  .top-bar .top-bar-bottom .menu > li.menu-item-has-children ul li a {

  }
}

/* 2b. Mobile Menu Styles */
.menu-icon::after {
  background: $black;
  box-shadow: 0 7px 0 $black, 0 14px 0 $black;
  @include transition(background);
}
.menu-icon:hover::after {
  background: $black;
  box-shadow: 0 7px 0 $black, 0 14px 0 $black;
}
nav.off-canvas {
  background: none !important;

  .custom-logo-link img {
    height: auto;
    width: 240px;
    display: block;
    margin: 18px auto 0;
    padding: .625rem;
  }
  .menu > li > a {
    padding-left: 0;
    padding-right: 0;
  }
  .menu > li > a:after {
    right: 0
  }
  .menu > .active > a {
    color: $purple;
    background: none;
  }
  .searchform-wrapper {
    padding: 0 1rem;
  }
  ul.social-media-wrapper {
    margin: 0;
    list-style: none;
    padding: 0 1rem;
    text-align: center;
  }
  ul.social-media-wrapper li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
  }
  ul.social-media-wrapper li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    border-radius: 100%;
    display: block;
    color: $white;
  }
  ul.social-media-wrapper li a i {
    line-height: 40px;
  }
  ul.social-media-wrapper li.facebook a {
    background: #3b5998;
  }
  ul.social-media-wrapper li.twitter a {
    background: #55acee;
  }

}


/* 2c. Shrink Logo Styles */
body.shrink-logo {
  .top-bar .top-bar-left a.custom-logo-link img {
    width: 150px;
    height: auto;
    transition: width 500ms ease-out;
  }
}


/**** 3. HOME PAGE STYLES ****/
.admin-bar header#masthead.sticky-header {
  top: 32px;
}
.home {

  .home-hero-wrapper {
    min-height: 586px;
    background-position: center center !important;
    position: relative;
  }
  .home-hero-wrapper > .vc_column_container {
    position: absolute;
    bottom: 20px;
  }
  .blue-caption-box {
    margin-bottom: 15px;
  }
  .blue-caption-box p {
    padding: 20px 40px;
    background: $bluealpha;
    position: relative;
    display: inline-block;
    color: $white;
    font-family: $mreaves;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    max-width: 840px;
  }
  .blue-caption-box a {
    color: $white;
    text-transform: uppercase;
    font-family: $mreaves;
    font-size: 30px;
    position: relative;
    z-index: 99;
  }

  div#page-full-width {
    margin-top: 0;

    .main-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

  }

  .its-not-too-late {
    overflow: visible !important;
    background: #c4d366;
    background: -moz-radial-gradient(center, ellipse cover, #c4d366 0%, #9bb72c 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #c4d366 0%,#9bb72c 100%);
    background: radial-gradient(ellipse at center, #c4d366 0%,#9bb72c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d366', endColorstr='#9bb72c',GradientType=1 );
  }
  .its-not-too-late .vc_column-inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
  }
  .intl-inner {
    display: table;
    width: 100%;
    max-width: 900px;
    margin: -140px auto 0;
    z-index: 99999999;
  }
  .intl-left,
  .intl-middle,
  .intl-right {
    display: table-cell;
    vertical-align: middle;
  }
  .intl-left {
    width: 48.11%;
    text-align: center;
  }
  .intl-middle {
    width: 16.3333%;
  }
  .intl-right {
    width: 64.4433%;
    text-align: center;
  }
  .intl-left h2 {
    position: relative;
    top: 70px;
    font-size: 3.5rem;
    line-height: .9;
    color: $white !important;
    text-transform: capitalize;
  }
  .intl-right button {
    position: relative;
    top: 70px;
  }

  .portal .wpb_text_column {
    text-align: center;
    padding: 60px;
    margin: 0;
  }
  .portal .wpb_text_column img {
    width: auto;
    height: 125px;
    margin-bottom: 10px;
  }
  .portal .wpb_text_column h3,
  .portal .wpb_text_column p,
  .portal .wpb_text_column a {
    color: #FFF;
  }
  .portal .wpb_text_column h3,
  .portal .wpb_text_column h3 a {
    max-width: 300px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: $mreaves;
    font-size: 1.65rem;
  }
  .portal .wpb_text_column p {
    font-size: 1rem;
    line-height: 1.2;
    max-width: 300px;
    margin: 0 auto;
  }

}

.change-your-life-cta {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;

  h3 {
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: .875rem;
  }
  p {
    color: #FFF;
    font-family: $mreaves;
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 1.2;
  }

}

.highland-news {

  .max-width-eleven-seventy,
  .max-width-twelve-hundred {
    border-bottom: 1px solid $black;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .875rem;
  }

}
.home section.lcp_catlist {
  margin-left: -70px;

  article {
    padding-left: 70px;
    float: left;
    width: 33.3333%
  }
  article img {
    margin-bottom: 16px;
    width: 100%;
    height: auto;
  }
  article h3.lcp_post,
  article h3.lcp_post a {
    font-family: $mreaves;
    font-size: 1.5rem !important;
    margin: 0;
    color: #3c5f90;
    margin: 0;
    line-height: 1.1;
    text-align: left;
    text-transform: capitalize;
  }
  article p.post-meta {
    margin-bottom: 10px !important;
  }
  article p.post-meta span.post-meta-date {
    font-style: italic;
    font-size: .875rem;
    font-family: $mreaves;
  }
  article .lcp_excerpt {
    font-size: .875rem;
  }

}

.bs-two-col-wrapper {
  display: table;
  width: calc(100% + 30px);
  margin-left: -30px;
}
.bs-two-col {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding-left: 30px;
}
.image-w-overlay a {
  display: block;
  position: relative;
  background: $black;
}
.image-w-overlay img {
  width: 100%;
  height: auto;
  opacity: 1;
  @include transition(opacity);
}
.image-w-overlay a:hover img,
.image-w-overlay a:focus img {
  opacity: .75;
}
.image-w-overlay p {
  position: absolute;
  top: 50%;
  font-size: 1.875rem;
  color: #FFF;
  font-family: $mreaves;
  font-weight: 700;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
}
.image-w-overlay p i {
  font-size: 3.5rem;
}

/* Twitter Feed Styles */
.twitter-feed-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: table;
}
#content .rotatingtweets {
  border: 0;
  width: auto !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.twitter-header {
  width: 70px;
  display: table-cell;
	position: relative;
	height: 60px;
	line-height: 60px;
  vertical-align: middle;
  text-align: center;
}
.twitter-header:after {
  content: '\f099';
  font-family: fontawesome;
  color: #FFF;
  font-size: 4.039rem;
  text-align: center;
}
.twitter-feed {
  width: calc(100% - 70px);
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}
.twitter-feed p {
  color: $white;
  font-size: 1rem !important;
  margin: 0;
}
.twitter-feed a {
  color: $white;
  border-bottom: 1px dotted $white;
}
.twitter-feed a:hover,
.twitter-feed a:focus {
  color: $white !important;
}
.rotatingtweet {
  display: table !important;
  height: 100%;
  width: 100% !important;
  background: #9bb72c;
}
.rotatingtweet p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem !important;
}

@media #{$break767} {
  .home .home-hero-wrapper {
    min-height: 0 !important;
    height: calc(100vh - 134px) !important;
  }
  .home.admin-bar .home-hero-wrapper {
    min-height: 0 !important;
    height: calc(100vh - 180px) !important;
  }
  .home .blue-caption-box p {
    padding: 10px 25px;
    font-size: 30px;
  }
  .home .blue-caption-box a {
    font-size: 24px;
  }
  .home .intl-inner {
    margin: 40px auto;
    z-index: 1;
  }
  .home .intl-left,
  .home .intl-middle,
  .home .intl-right {
    display: block;
  }
  .home .intl-left {
    width: 100%;
    text-align: center;
  }
  .home .intl-middle {
    width: 160px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -80px;
  }
  .home .intl-right {
    width: 100%;
    text-align: center;
  }
  .home .intl-left h2 {
    z-index: 99;
    top: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px #333;
  }
  .home .intl-right button {
    position: relative;
    top: 0;
  }
  .home section.lcp_catlist {
    margin-left: 0;
  }
  .home section.lcp_catlist article {
    padding-left: 0;
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .home section.lcp_catlist article:last-of-type {
    margin-bottom: -40px;
  }
  .home section.lcp_catlist article img {
    margin-bottom: 4px;
  }
  .bs-two-col {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding-left: 30px;
    margin-bottom: 30px;
  }
  .bs-two-col:last-of-type {
    margin-bottom: 0;
  }
  .twitter-header,
  .twitter-feed {
    display: block;
    width: 100% !important;
    text-align: center;
  }
  .twitter-header:after {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 640px) and (min-width: 430px) {
  .home .intl-middle {
    width: 120px;
    margin-left: -60px;
  }
}

@media #{$break480} {
  .home .blue-caption-box p {
    padding: 10px 15px;
    font-size: 24px;
  }
  .home .blue-caption-box a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 429px) {
  .home .intl-middle {
    width: 140px;
    margin-left: -60px;
  }
}

.darken-header header#masthead {
  background: rgba(0,0,0,.35);
}
.darken-header .top-bar .top-bar-bottom .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(0,0,0,.35) !important;
}
.darken-header .reverse-header .top-bar .top-bar-bottom .menu > li.opens-left > .is-dropdown-submenu,
.reverse-header .top-bar .top-bar-bottom .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(255,255,255,.95) !important;
}

@media #{$break1024} {
  .title-bar {
    background: none !important;
  }
  .vc_parallax-inner {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 48.875em) {
  .admin-bar header#masthead.sticky-header {
    top: 46px;
  }
}
@media #{$break640} {
  header#masthead {
    top: 0 !important;
  }
  nav#site-navigation {
    display: table !important;
  }
  .top-bar .top-bar-left {
    display: table-cell !important;
  }
  .admin-bar header#masthead.sticky-header {
    top: 46px !important;
  }

}

  /* 3a. Home Section Styles */




/**** 4. INTERNAL PAGE STYLES ****/
.not-home {

  #page {
    margin-top: 1.5rem;
  }
  h1.entry-title {
    font-size: 2.5rem;
  }
  .main-content h2 {
    font-size: 2rem;
    color: $blue;
    text-transform: capitalize;
  }
  .main-content h3 {
    font-size: 1.75rem;
    color: $blue;
    text-transform: capitalize;
  }
  .main-content h4 {
    font-size: 1.5rem;
    color: $green;
    text-transform: capitalize;
  }
  .main-content h5 {
    font-size: 1.25rem;
    color: $green;
    text-transform: capitalize;
  }
  .main-content h6 {
    font-size: 1rem;
    color: $green;
    text-transform: capitalize;
  }
  .main-content p,
  .main-content a,
  .main-content span,
  .main-content li {
    font-size: 1rem;
    font-family: $arial;
  }
  .top-bar-bottom {
    position: relative;
  }
  .top-bar-bottom:after {
    content: '';
    width: 100%;
    height: 6px;
    background: $green;
    display: block;
    position: absolute;
    bottom: 0px;
  }
  .main-content a {
    position: relative;
    color: $green;
    font-weight: 700;
    text-shadow: 1px 1px 0px #FFF;
    z-index: 10;
    @include transition(all);
  }
  .main-content a:before {
    content: '';
    width: 100%;
    height: 1px;
    background: $green;
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: -1;
    @include transition(all);
  }
  .main-content a:hover,
  .main-content a:focus {
    color: $purple;
    text-decoration: none;
  }
  .main-content a:hover:before,
  .main-content a:focus:before {
    background: $purple;
  }

}
div#page-full-width {
  margin-top: 0;
  max-width: none;

  .main-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.breadcrumbs-wrap {
  max-width: 75rem;
  margin: 20px auto 0;
  padding: 0 1rem;

  span {
    font-size: .875rem;
  }
  a {
    font-size: .875rem;
    position: relative;
    color: $green;
    font-weight: 700;
    text-shadow: 1px 1px 0px #FFF;
    z-index: 10;
    @include transition(all);
  }
  a:before {
    content: '';
    width: 100%;
    height: 1px;
    background: $green;
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: -1;
    @include transition(all);
  }
  a:hover,
  a:focus {
    color: $purple;
    text-decoration: none;
  }
  a:hover:before,
  a:focus:before {
    background: $purple;
  }

}

@media #{$break1024} {
  .not-home .top-bar-bottom:after {
    height: 2px;
  }
}
@media #{$break639} {
  .breadcrumbs-wrap {
    padding: 0 .625rem;
  }
}

/* 4a. 404 Page Styles and Archive Styles */
div#four-o-four-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;

  .entry-content {
    font-family: $mreaves;
  }

}
div#page.archives-wrapper {
  margin-top: 0;

  .entry-content, header {
    font-family: $mreaves;
  }

}

/* 4b. WP Gallery Styles */
.gallery-columns-2 {

  figure {
    margin: 0;
    padding: 0 20px 20px 0;
    width: 50%;
    float: left;
  }
  figure img {
    width: 100%;
    height: auto;
    border: 1px solid $gray;
  }

}

/* 4c. Sidebar Styles */
.portal-wrapper {

  .portal {
    padding: 1rem;
    margin: 0;
    display: table;
    width: 100%;
    min-height: 106px;
    margin-bottom: 20px;
  }
  .portal-wrapper .portal.portal-3 {
    margin-bottom: 0;
  }
  .portal-left {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
  }
  .portal-right {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% - 70px);
    padding-left: 1rem;
  }
  .portal img {
    width: 100%;
    height: auto;
  }
  .portal h3,
  .portal h3 a {
    color: $white;
    margin: 0;
    text-transform: uppercase;
    font-family: $mreaves;
    font-size: 1.5rem !important;
  }
  .portal-1 {
    background: $pink;
  }
  .portal-2 {
    background: $purple;
  }
  .portal-3 {
    background: $teal;
  }
}

/* 4d. Sitemap Page Styles */
ul.page-list > li.page_item_has_children > a {
  color: #000 !important;
  cursor: text;
}
ul.page-list > li.page_item_has_children > a:before {
  display: none;
}


/**** 5. PORTFOLIO PAGE STYLES ****/



/**** 6. FOOTER STYLES ****/
#footer-container {
  background: $ltblue;
}
#footer-container #footer {
  max-width: 76.875rem;
}
#footer-container #footer h6 {
  color: $white;
  font-size: 1.5rem !important;
  text-transform: capitalize;
  font-family: $mreaves;
}
#footer-container #footer p {
  color: $white;
  font-size: .875rem;
}
#footer-container #footer button {
  margin-top: 5px;
}
#footer article.large-4:first-child {
  width: 44.16%;
  padding-right: 9%;
}
#footer article.large-4:nth-child(2) {
  width: 36.75%;
}
#footer article.large-4:nth-child(3) {
  width: 19.09%;
}
#footer-container #footer ul.social-media-wrapper.left {
  display: inline-block;
  width: 100%;
  text-align: left;
}
#footer-container #footer ul.social-media-wrapper li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  font-size: 1.5rem;
  margin: 0 5px 0 0;
}
#footer-container #footer ul.social-media-wrapper li a,
#footer-container #footer ul.social-media-wrapper li a i {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  display: block;
  text-align: center;
  border-radius: 100%;
  background: none;
  @include transition(background);
}
#footer-container #footer ul.social-media-wrapper li a:hover {
  background: $white;
  color: $blue;
}
@media only screen and (max-width: 101.875rem) {
  #footer-container #footer {
    // padding-left: .9375rem;
    // padding-right: .9375rem;
  }
}
@media #{$break951} {
  #footer article.large-4:first-child {
    width: 44%;
    padding-right: 0.9375rem;
  }
  #footer article.large-4:nth-child(2),
  #footer article.large-4:nth-child(3) {
    width: 27%;
    padding-right: 0.9375rem;
  }
}
@media #{$break767} {
  #footer article.large-4:first-child {
    width: 100%;
    padding-right: 0.9375rem;
    margin-bottom: 2rem;
  }
  #footer article.large-4:nth-child(2),
  #footer article.large-4:nth-child(3) {
    width: 50%;
    padding-right: 0.9375rem;
  }
}
@media #{$break639} {
  #footer article.large-4:first-child,
  #footer article.large-4:nth-child(2),
  #footer article.large-4:nth-child(3) {

  }
}
@media #{$break480} {
  #footer article.large-4:first-child,
  #footer article.large-4:nth-child(2),
  #footer article.large-4:nth-child(3) {
    width: 100%;
    padding-right: 0.9375rem;
    margin-bottom: 2rem;
  }
  #footer article.large-4:nth-child(3) {
    margin-bottom: 0;
  }
}

#copyright {
  background: $blue;

  p {
    max-width: 73.125rem;
    font-size: .875rem;
    font-weight: 300 !important;
    margin: 0 auto;
    text-align: left;
    font-family: $arial;
    color: $white;
  }
  a {
    color: $white;

    @include transition(color);
  }
  a:hover,
  a:focus {
    color: $green;
  }

}


/**** 7. MOBILE & KEYBOARD INPUT STYLES ****/
.mobile {

  .what-we-do-wrapper {
    background-attachment: scroll !important;
  }
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  ul.filter-portfolio-category li span.term-num,
  ul.filter-portfolio-category li a.active+span.term-num,
  ul.filter-portfolio-category li:hover span.term-num,
  ul.filter-portfolio-category li a:before,
  ul.filter-portfolio-category li a:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

}

body[data-whatinput="keyboard"] {

  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }

}

 .no-js {
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }
 }


/**** 8. IE ONLY STYLES ****/
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {
    background-attachment: scroll !important;
  }
}

/* Edge only */
@supports (-ms-accelerator: true) {
  * {
    background-attachment: scroll !important;
  }
}


/**** 9. FIREFOX ONLY CSS ****/
@-moz-document url-prefix() {

}

/**** 00. No JavaScript Styles ****/
.no-js {

  img.lazyload {
    display: none;
  }
  .bs-isotope-item {
    float: left;
  }
  .bs-isotope-item:nth-child(3n+1) {
    clear: left;
  }
  p, a, li, span, h1, h2, h3, h4, h5, h6, blockquote {
    font-family: Arial, Helvetica, sans-serif !important;
  }

}
